https://github.com/uchicago-library/marc2iiif/tarball/master#egg=marc2iiif
https://github.com/uchicago-library/pyiiif/tarball/master#egg=pyiiif
https://github.com/uchicago-library/marc_field_lookup/tarball/master#egg=marcFieldsLookup